# Python Virtual Environments
.venv/
venv/
ENV/
env/

# Python Cache & Compiled Files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.coverage

# Environment Secrets
.env
.env*
.env\ *
.env.*
*.env
*.env*
*.env.*
!.env.example
